:root {
  --vp-home-hero-image-background-image: linear-gradient(
    120deg,
    #e50402 10%,
    #fe8c01 27.6%,
    #f9e803 36.4%,
    #12b90f 49.2%,
    #02772d 61.2%,
    #034dfc 73.2%,
    #78078b 90%
  );
  --vp-home-hero-image-filter: blur(44px);

  --color-secondary-text-hex: #7732e6;
}

.dark {
  --color-secondary-text-hex: #b77fff;
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.image-bg {
  border-radius: 50px !important;
  rotate: 0deg;
  transform-origin: 0 0;
  animation: rotate-gradient linear 60s infinite;
}

.hero-description {
  margin-top: 3rem !important;
  max-width: 80ch;
}

.VPHomeFeatures .icon {
  color: var(--color-secondary-text-hex);
}

.main .name {
  font-size: 86px;
  line-height: 98px;
}

@keyframes rotate-gradient {
  19% {
    rotate: 120deg;
  }
  27% {
    rotate: 70deg;
  }
  48% {
    rotate: 210deg;
  }
  58% {
    rotate: 150deg;
  }
  61% {
    rotate: 170deg;
  }
  73% {
    rotate: 90deg;
  }
  79% {
    rotate: 130deg;
  }
  100% {
    rotate: 0deg;
  }
}

html.dark .light-only {
  display: none !important;
}

html:not(.dark) .dark-only {
  display: none !important;
}

.light-only,
.dark-only {
  border: 1px solid var(--vp-c-border);
  border-radius: 0.25rem;
}
